body {
  margin: 0;
  background-color: #faf4f4 ;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

a {
  margin-left: 10px;
}

a:hover {
  background-color: rgba(0,0,0,0.1);
}

nav ul a:hover {
  background-color: rgba(0,0,0,0.1);
}

p{
  margin: 0;
}

.bottom_container{
  text-align: center;
}

.footer{
  margin: 0;
}

.row{

  margin-top: 70px;
  margin-bottom: 40px;
}

.testing{
  display: inline-block;
}

.top{
  width: 100%;
}



.navigation_bar {
  background-color: #00bcd4;
}

.register{
  width: 35%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.register:hover{
  border: 1px;
  border-style: solid;

}

.request{
  text-align: center;
  text-decoration: underline;
}

.special{
  margin: 0;
}

.login{
  width: 35%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login:hover{
  border: 2px;
  border-style: solid;

}

@media screen and max-width: 100px {

  body{
    background-color: black;
  }
  .mobile{
    width:100%;
  }

  .mobile-heading{
    font-size: 20px;
    color: black;
  }
}
